<div class="navigation">
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/males">Males</a>
        <a href="/females">Females</a>
        <a href="/breeds">Future Breeds</a>
        <a href="/puppies">Puppies For Sale</a>
        <a href="/contact">Contact Us</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</div>