<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Females | Bully Bridge</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/lightbox.min.css">
</head>
<body>
	<!-- Navigation -->
        {{>header}}
        <div class="container">
            {{{body}}}
            
        </div>
    <!-- <footer>&copy; Copyright 2018, Bully Bridges</footer>  --> 
    <!-- Footer -->
    {{>footer}}


    <script>

        function navHighlight(elem, home, active) {
            var url = location.href.split('/'),
                loc = url[url.length -1],
                link = document.querySelectorAll(elem);
            for (var i = 0; i < link.length; i++) {
                var path = link[i].href.split('/'),
                    page = path[path.length -1];
                if (page == loc || page == home && loc == '') {
                    link[i].className += ' ' + active;
                    document.body.className += ' ' + page.substr(0, page.lastIndexOf('.'));
                }
            }
        }
        navHighlight('.topnav a', 'index.htm', 'active');

    </script>
</body>
</html>