
<!-- LightBox -->
<div id="wrapper">
    <!-- Gallery Row 1 Start -->
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>

    <!-- Gallery Row 1 End -->

    <!-- Gallery Row 2 Start -->
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <!-- Gallery Row 2 End -->

    <!-- Gallery Row 3 Start -->
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <section class="one-third">
        <a class="image-link" id="lightbox-img" href="/img/900-644.png" data-lightbox="example-set" data-title="Name, Description of dog goes here."><img class="image" src="/img/900-644.png" alt="American Bully"></a>
    </section>
    <!-- Gallery Row 3 End -->
</div>
