<div class="paw-menu">
    <input type="button" value="Explore" class="explore" />
    <div class="dog">
        <div class="pad">
            <div class="base base-left">
                <a href="/">Home</a>                
            </div>
            <div class="base base-right">
                <a href="/contact">Contact Us</a>     
            </div>
            <div class="base-left-2"></div>
            <div class="base-right-2"></div>
            <div class="toe toe-1">
                <a href="/breeds">Future Breeds</a>                
            </div>
            <div class="toe toe-2">
                <a href="/puppies">Puppies</a>                
            </div>
            <div class="toe toe-3">
                <a href="/males">Males</a>     
            </div>
            <div class="toe toe-4">
                <a href="/females">Females</a> 
            </div>
                

        </div>
        
    </div>
</div>